body {
  background-image: url('../images/meerkat.jpg');
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 100vh;
}

#submit:disabled:hover {
  cursor: not-allowed;
  pointer-events: all !important;
}

#submit {
  cursor: pointer;
}

/* Center reCaptcha */
.g-recaptcha > div {
  margin: 0 auto;
}
